.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.content {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px;
  max-width: 720px;
  text-align: center;
}

.content h1 {
  font-size: 1.5rem;
  width: 100%;
}

.content img {
  margin: 12px;
  width: 360px;
}

.home-skill-list {
  display: none;
}

.cta-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: justify;
  width: 280px;
}

.direct-msg {
  animation: blink 3.5s linear infinite;
  border-radius: 6px;
  color: var(--geyser);
  font-size: 1.2em;
  font-weight: bolder;
  margin: 6px;
  padding: 6px 18px;
  text-decoration: none;
}

@media (min-width: 840px) {
  .home-skill-list {
    display: flex;
    flex-direction: column;
    width: 360px;
  }

  .home-skill-list h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .home-skill-list img {
    background-color: #fff;
    border-radius: 50%;
    margin: 0 12px 0 0;
    padding: 4px;
    width: 20px;
  }

  .home-skill-list ul {
    list-style-type: disc;
    font-size: 1.1rem;
    line-height: 28px;
    text-align: left;
  }
  
  .home .footer {
    bottom: 0;
    position: fixed;
  }
}

@keyframes blink {
  0% {
    background-color: var(--outer-space);
  }
  20% {
    background-color: var(--mineral-green);
    color: var(--outer-space);
  }
  60% {
    background-color: var(--green-spring);
    color: var(--outer-space);
  }
}