.home {
  width: 100vw;
}

.content {
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
  margin: 20px;
  text-align: center;
}

.content h1 {
  width: 100%;
}

.content img {
  margin: 12px auto;
}

.cta-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: justify;
  width: 100%;
}

@media (min-width: 840px) {
  .home .footer {
    bottom: 0;
    position: fixed;
  }
}
